<% provide(:title, t(:all_alarms)) %>
<h1><%= t(:all_alarms)%></h1>

<%= will_paginate %>

<ul class="alarms">
  <% @alarms.each do |alarm| %>
    <li>
		<div class="btn-toolbar">
	    <span class="description"><%= alarm.condition_type.text %> <%= alarm.alarm_value %></span> 
			<div class="btn-group">
			  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%= t(:edit) %> <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li><%= link_to t(:delete), sprinkler_sensor_alarm_path(@sprinkler,@sensor,alarm),
			    	method: :delete, data: { confirm: t(:you_sure?) } %>
				</li>
			    <li><%= link_to t(:edit), edit_sprinkler_sensor_alarm_path(@sprinkler,@sensor,alarm) %>	</li>
			  </ul>
			</div>
		</div>			
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<%= link_to t(:new_alarm), new_sprinkler_sensor_alarm_path(@sprinkler,@sensor), class:("action btn btn-primary") %>
