- provide(:title, @alarm.title)
%h1= @alarm.title
%div.row
  %p
    = @alarm.condition_type.text + " "
    = @alarm.alarm_value 
  %p
    %span.content
      = t(:for_sensor) + " : " 
      - sensor_description = "#{t(:port)} #{@sensor.port_index.to_s} - #{@sensor.sensor_type.text}".html_safe
      = link_to(sensor_description, sprinkler_sensor_path(@sprinkler, @sensor))
  %p
    %span.content
      =	link_to t(:delete), sprinkler_sensor_alarm_path(@sprinkler,@sensor,@alarm), method: :delete,
		  data: { confirm: t(:you_sure?) }
    = " | "  
    = link_to t(:edit), edit_sprinkler_sensor_alarm_path(@sprinkler,@sensor,@alarm)
