<h1>
	<%= t(:sprinkler) + " " + @sprinkler.id.to_s.html_safe %>
</h1>

<div class="class="btn-toolbar" style="padding-left:6em;">
	<div class="btn-group">
	  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%= t(:edit) %> <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><%= link_to t(:new_valf), new_sprinkler_valf_path(@sprinkler) %></li>
	    <li><%= link_to t(:new_sensor), new_sprinkler_sensor_path(@sprinkler) %></li>
	    <li><%= link_to t(:new_plan), new_sprinkler_schedule_path(@sprinkler) %></li>
	  </ul>
	</div>
</div>	

<% if @sprinkler.sensors.any? %>
<h3><%= t(:sensors) %></h3>
<ul class="sensors">
	<%= render partial: 'shared/sensor', collection: @sprinkler.sensors %>
</ul>
<% end %>

<% if @sprinkler.valves.any? %>
<h3><%= t(:valves) %></h3>
<ul class="valves">
	<%= render partial: 'shared/valf', collection: @sprinkler.valves %>
</ul>
<% end %>

<%= 
	plans = @sprinkler.plans(Time.now + 30.days, Time.now - 30.days)
	render partial: "sprinkler_plans/sprinkler_plans", object: plans, locals: {sprinkler_id: @sprinkler.id}
 %>