<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t :new_alarm %> - <%= @alarm.title %> </h1>
    <p>
		<%= t :new_alarm %>
    </p>
    <p>
		<%= t :sensor_value %> : <%= @alarm.sensor.last_reading.sensor_value %>
	</p>
	<p>
		<%= sprinkler_url(@alarm.sensor.sprinkler) %>
    </p>
  </body>
</html>