= f.semantic_errors :state
= f.input :title, label: t(:title)
- start_date = f.object.start_date || Time.zone.now
= f.input :start_date, label: t(:start_time), :as => :string, :input_html => { :value => I18n.l(start_date) }
= f.input :end_date,
			:required => false,
			:as => :string,
			:label => t(:end_time).html_safe + link_to_function(" ("+t(:clear).html_safe + ")", '$("#sprinkler_plan_end_date").val("");'),
			:placeholder => true,
			:input_html => { :value => (I18n.l(f.object.end_date) if f.object.end_date)  }

= f.input :plan_type, as: :enum_select

:javascript
  var valf_ids = #{raw f.object.valf_plans_valves_ids.to_json };

-# TODO - move to partial.
%div.check_boxes.control-group.optional
  =t(:valves)
  = f.inputs :for => :valf_plans do |vp|
    - checked = !vp.object.new_record?
    - irrigation_id = "div_sprinkler_plan_valf_ids_#{vp.object.valf.id}"
    - destroy_id = "sprinkler_plan_valf_destroy_#{vp.object.valf.id}"
    - checkbox_id = "checkbox_valf_#{vp.object.valf.id}"
    - style = checked ? '' : 'display:none;'
    - units = vp.object.valf.irrigation_mode.units
    = vp.input :valf_id, as: :hidden
    = vp.input "_destroy", as: :hidden, :value => !checked, :input_html =>{:id=> destroy_id}
    = vp.input :sprinkler_plan_id, as: :hidden
    %div.choice.checkbox
      %label
        = vp.input :enabled, :label=> vp.object.valf.to_s, :as=> :boolean, :input_html=>{:id=> checkbox_id,
          :onchange=>"updateValves();"}
      %div.irrigation{:style=>style, :id=>irrigation_id}
        = vp.input :amount, :hint => t(units)

= f.input(:repeat, :required => :true, :include_blank => false, as: :select, collection: {t(:no_repeat) => "Once", t(:daily_repeat) => "Daily", t(:weekly_repeat) => "Weekly", t(:monthly_repeat) => "Monthly"}, label: t(:repeat) )
%div#Once
%div#Daily
%div#Weekly{:style=>"display:none;"}
  - day_names = I18n.t("date.day_names");
  - day_values = Date::ABBR_DAYNAMES;
  - week_days = Hash[day_names.zip(0..6)];
  = f.input :weekly, as: :check_boxes, collection: week_days, label: t(:weekly_repeat), :hidden_fields => false

%div#Monthly{:style=>"display:none;"}
  =f.input :day_of_month, as: :hidden
  %div{:id => "div_day_of_month"}
    
= f.actions do
  = f.action :submit, label: true
  = f.action :cancel, :as => :link, label: :cancel
  = f.action :reset
  -if !f.object.new_record?
    = link_to t(:delete_plan),
				sprinkler_schedule_path(f.object.sprinkler_id, f.object.id),
				method: :delete,
				data: { confirm: t(:you_sure?) },
				class: "action link_action btn"

- content_for(:head, javascript_include_tag("controllers/schedules"))

:javascript
  var weekly = #{raw @plan.weekly.to_json};
  var startDate = new Date(#{raw (@plan.start_date || Time.zone.now).to_json });
  var currentDate = new Date();
  currentDate.setDate(#{ raw @plan.day_of_month.to_json });
  var regional = #{raw I18n.locale.to_json };
