<%=	javascript_tag do %>
      var graphRows = <%= raw data.to_json %>;
      var graph_y_title = <%= raw title.to_json %>;
<% end %>

<% graph_id = "chart_div_#{title}" %>
<script type='text/javascript'>
	google.load('visualization', '1', {'packages':['annotatedtimeline']});
	google.setOnLoadCallback(function() {drawChart("<%= graph_id %>")});
</script>

<div id="<%= graph_id %>" class="graph_div"></div>
