<li id="<%= sprinkler.id %>">
	<span class="content"><%= link_to t(:sprinkler), sprinkler %> - <%= sprinkler.machine_version %></span>
	
	<% if sprinkler.sensors.any? %>
	<h4><%= t(:sensors) %></h4>
	<ul class="sensors">
		<%= render partial: 'shared/sensor', collection: sprinkler.sensors %>
	</ul>
	<% end %>
	<% if sprinkler.valves.any? %>
	<h4><%= t(:valves) %></h4>
	<ul>
		<%= render partial: 'shared/sensor', collection: sprinkler.valves %>
	</ul>
	<% end %>
</li>
