-provide(:title, t(:valves))
%h1= t(:valves)
- if @valves.any?
  %table.table.table-condensed.ReadingTable
    %tr
      %th= t(:identifier)
      %th= t(:port)
      %th= t(:type)
      - @valves.each do |valf|
        %tr
          %td= link_to valf.port_index, sprinkler_valf_path(valf.sprinkler_id, valf.id) 
          %td= valf.port_index
          %td= valf.valf_type.text