<% provide(:title, @valf.identifier) %>
<h1><%= @valf.identifier %></h1>

<div class="class="btn-toolbar">
	<div class="btn-group">
	  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%= t(:edit) %> <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><%= link_to t(:edit), edit_sprinkler_valf_path(@sprinkler,@valf) %></li>
	    <li>
	    	<%= link_to t(:delete), sprinkler_valf_path(@sprinkler,@valf),
			method: :delete,
			data: { confirm: t(:you_sure?) },
			title: @valf.identifier %>
	     </li>
	  </ul>
	</div>
</div>	

<p>
	<%= @valf.port_index %>
</p>
<p><%= @valf.irrigation_mode.text %></p>
