<h3><%= link_to t(:identifier)+" : "+sensor.identifier, [sensor.sprinkler, sensor] %></h3>
<p><%= t(:port) %> : <%= sensor.port_index %></p>
<%	if sensor.last_readings.any? %>
	<h4><%= t(:last_readings)%> :</h4>
	<table class="table table-condensed ReadingTable">
		<tr><th><%= t :reading_time %></th><th><%= t :reading %></th></tr>
		<%
			sensor.last_readings.each do |reading|
		%>
			
		<tr><td><%= l reading.read_time, format: :short %></td><td><%= reading.sensor_value %></td></tr>
		<%	end %>
	</table>
<% end %>
