-# Just a debug, will be removed when we'll have a proper machines.
- provide(:title, t(:new_reading) )
- content_for(:head, stylesheet_link_tag("helpers/timepicker.css"))
- content_for(:head, javascript_include_tag("helpers/timepicker.js"))
%h1= t(:new_reading)

%div.row
  %div.span6.offset3
    = semantic_form_for(@sensor_reading, url: url_for(action: 'create_reading')) do |f|
      = f.semantic_errors :state
      = hidden_field_tag(:human, :value => "1")
      = f.input :sensor_value, autofocus: true, label: t(:sensor_value)
      = f.input :read_time, label: t(:read_time), as: :string
      = f.actions do
        = f.action :submit, label: true
        = f.action :cancel, :as => :link, label: :cancel
        	
    :javascript
      $('#sensor_reading_read_time').datetimepicker({ dateFormat: 'dd/mm/yy'});
