<% provide(:title, t(:sensor_readings) )%>
<h1><%= t(:sensor_readings) %> - <%= @sensor.sensor_type.text %></h1>

<div class="class="btn-toolbar">
	<div class="btn-group">
	  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%= t(:edit) %> <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><%= link_to t(:new_alarm), new_sprinkler_sensor_alarm_path(@sprinkler,@sensor) %></li>
	    <li><%= link_to t(:to_all_alarms), sprinkler_sensor_alarms_path(@sprinkler,@sensor) %></li>
	    <li><%= link_to t(:edit), edit_sprinkler_sensor_path(@sprinkler,@sensor) %></li>
	    <li>
	    	<%= link_to t(:delete), sprinkler_sensor_path(@sprinkler,@sensor),
			method: :delete,
			data: { confirm: t(:you_sure?) },
			title: @sensor.identifier %>
	     </li>
	  </ul>
	</div>
</div>	

<%=
	show_graph(@data, t(:sensor_readings))
%>

<div id="time_selector">
	<% [1,2,3,7,30,365].each do |time| %> 
	<%=
		link_to time, {action: "show", id: @sensor_id, time_ago: time}, remote: true   
	%>
	<% end %>
</div>
<%= link_to t(:back), @sprinkler %>